Repository MarximusMaximus/batteries-forking-included: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, pylint, pyright, rst, check-dash-syntax, force-JsonSlurperClassic, css-forbid-px

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  rst: any of: ^.*\.rst$
  check-dash-syntax: any of: ^.*\.sh$
  force-JsonSlurperClassic: any of: \.groovy$
  css-forbid-px: any of: \.css$

fix for WSL ubuntu?
  .github/workflows/ci.yml
Due: none

enable trace for bootstrap
  .github/workflows/ci.yml
Due: none

debug echo for LINENO_GLOBAL_OFFSET b/c CI is complaining
  src/batteries_forking_included/template/bootstrap.sh
Due: check-dash-syntax

put debug code in the correct file & enable base preamble tracing
  .github/workflows/ci.yml
  bootstrap.sh
  src/batteries_forking_included/template/bootstrap.sh
Due: check-dash-syntax

try limiting od to 16 bytes
  src/batteries_forking_included/template/bootstrap.sh
Due: check-dash-syntax

edit the file that's actually gonna run
  bootstrap.sh
  src/batteries_forking_included/template/bootstrap.sh
Due: check-dash-syntax

attempt to checkout pytest-shell-script-test-harness
  .github/workflows/ci.yml
Due: none

fix pytest-shell-script-test-harness checkout step id
  .github/workflows/ci.yml
Due: none

fix repository reference
  .github/workflows/ci.yml
Due: none

set ref & path for pytest-shell-script-test-harness.git checkout
  .github/workflows/ci.yml
Due: none

try path ../pytest-shell-script-test-harness
  .github/workflows/ci.yml
Due: none

path nesting
  .github/workflows/ci.yml
Due: none

try a fake submodule b/c reasons
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  pytest-shell-script-test-harness
Due: none

delete symlink before checkout
  .github/workflows/ci.yml
Due: none

hack poetry lock to not look up one folder for pytest-shell-script-test-harness
  poetry.lock
Due: none

HACK: add the fake submodule pytest-shell-script-test-harness to all jobs that need it (basically all of them)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Due: none

try moving pytest-shell-script-test-harness to be sibling repo
  .github/workflows/ci.yml
Due: none

add the move to all jobs, update poetry settings to use ../pytest-shell-script-test-harness again
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  poetry.lock
  pyproject.toml
Due: none

remove symlink hack for pytest-shell-script-test-harness
  pytest-shell-script-test-harness
Due: none

ignore safety warning about py=1.11.0 while tox, pytest-xdist, and pytest-html remove the dependency
  .pre-commit-config.yaml
Due: none

fix warnings about missing #endregions
  src/batteries_forking_included/__impl.py
  src/batteries_forking_included/__main__.py
  src/batteries_forking_included/bin/batteries-forking-included.py
Due: flake8, vulture, pylint, pyright

add safety as dev dependency
  poetry.lock
  pyproject.toml
Due: none

make quicktest now uses py310, added make legacytest for py38
  Makefile
Due: none

remove stray empty lines from Makefile
  Makefile
Due: none

wait until all 3 are updates to rerun if any of bfi-update.sh, bfi-base.sh, or batteries-forking-included.sh change
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

add make extract-build command
  Makefile
Due: none

clarify some debug output
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

update tox and ci files
  .github/workflows/ci.yml
  tox.ini
Due: none

no longer install nodejs for WSL
  .github/workflows/ci.yml
Due: none

disable liccheck during pre-commit
  .pre-commit-config.yaml
Due: none

remove experimental class_fixture
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.py
  tests/src/conftest.py
Due: flake8, vulture, pylint, pyright

Update README
  README.md
Due: none
