Repository MarximusMaximus/batteries-forking-included: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, pylint, pyright, rst, check-dash-syntax, force-JsonSlurperClassic, css-forbid-px

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: flake8
  language: python
  pass_filenames: false
  require_serial: true
  args: []
  additional_dependencies: []

vulture:
  name: vulture
  language: python
  entry: vulture
  description: Find unused Python code.
  pass_filenames: false
  require_serial: true

pylint:
  name: pylint
  entry: pylint --verbose
  language: python
  require_serial: true
  args: []
  additional_dependencies: []

pyright:
  name: pyright
  entry: pyright
  language: node
  pass_filenames: false

rst:
  name: rst
  entry: rst-lint
  language: python
  args:
  - --encoding=utf-8
  additional_dependencies:
  - pygments
  - restructuredtext_lint

check-dash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash --posix -n

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

css-forbid-px:
  name: In CSS files, use rem or % over px
  language: pygrep
  entry: px

remove commented out printf/echo overrides in bfi-base.sh
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

cuddle { for functions that didn't have it (since that's current style)
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

add usage comment to format_log_message
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

move all logging prefix text into constants
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

add unit tests for format_log_message
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.py
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.sh
Due: flake8, vulture, pylint, pyright, check-dash-syntax

add additional unit tests for get_ansi_code when set to alternate color but terminal doesn't have color
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.sh
Due: flake8, vulture, pylint, pyright, check-dash-syntax

correct order of setting terminal settings and including bfi-base.sh in unit tests
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.sh
Due: check-dash-syntax

no really, we don't care about coverage for these lines, with feeling this time
  src/batteries_forking_included/__main__.py
  src/batteries_forking_included/bin/batteries-forking-included.py
Due: flake8, vulture, pylint, pyright

beginning of test_log_* unit tests
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.sh
Due: flake8, vulture, pylint, pyright, check-dash-syntax

remove stray ">&2"
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  src/batteries_forking_included/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

fix unit tests failing in py38 b/c platform.uname_result constructor is different
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

shellcheck now available for apple silicon, use that instead
  .vscode/settings.json
  conda-environment.yml
  post-bootstrap.sh
Due: check-dash-syntax

add git to basic requirements
  conda-environment.yml
Due: none

limit pytest to 60% of the cpu's cores (floored)
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: flake8, vulture, pylint, pyright

disable reportUnnecessaryTypeIgnoreComment for pyright
  pyproject.toml
Due: none

switch to use os.cpu_count b/c psutil has compile errors
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: flake8, vulture, pylint, pyright

disable pylint complaining about TODO
  pyproject.toml
Due: none

add git as recommended dependency
  README.md
Due: none

fix shellcheck path
  .vscode/settings.json
Due: none

switch from tox-poetry-dev-dependencies to tox-poetry-installer
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

drop default pytest-xdist default auto cores from 60% to 50%
  tests/conftest.py
Due: flake8, vulture, pylint, pyright

check if env var is in env before deleting it
  tests/PytestShellTestHarness.py
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: flake8, vulture, pylint, pyright, check-dash-syntax

correctly set my_tempdir and log paths in more situations
  bfi-base.sh
Due: check-dash-syntax

explicitly unset log paths in log_ and teetty_G tests
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
Due: flake8, vulture, pylint, pyright

move get_data_for_log and check_log_data to conftest.py so we can reuse it
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/conftest.py
Due: flake8, vulture, pylint, pyright

correctly set my_tempdir and log paths in more situations part2 (missing files)
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

fix not_expected_stdout and not_expected_stderr values for many tests
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_return_code_is_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
  tests/src/batteries_forking_included/bfi_update_sh/test_shell.py
  tests/src/batteries_forking_included/bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/post_bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/run_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

missing trailing commas
  tests/src/batteries_forking_included/run_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

'require_locked_deps = true' means we can't use 'deps =' in tox.ini
  tox.ini
Due: none

update poetry to 1.2.0 & remove hacks that dealt with bug in poetry 1.1.15
  batteries-forking-included.sh
  conda-environment.yml
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  poetry.lock
  pyproject.toml
  src/batteries_forking_included/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
  tox.ini
  update-all.sh
Due: check-dash-syntax

fix tox dependency on poetry (update to 1.2.0)
  tox.ini
Due: none

update poetry.lock?
  poetry.lock
Due: none

fix tox.ini syntax error for version spec
  tox.ini
Due: none

make lint first in list of envs (so it runs first)
  tox.ini
Due: none

more fixes for tox/poetry envs
  tox.ini
Due: none

some more stuff to fix running in poetry 1.2.0
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  poetry.lock
  pyproject.toml
  src/batteries_forking_included/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
  update-all.sh
Due: check-dash-syntax

temporarily disable doctests due to pytest 7.1.3 weirdness
  pyproject.toml
Due: none

re-organize pytest section of pyproject.toml to match pytest section of tox.ini
  pyproject.toml
  tox.ini
Due: none

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  rst: any of: ^.*\.rst$
  check-dash-syntax: any of: ^.*\.sh$
  force-JsonSlurperClassic: any of: \.groovy$
  css-forbid-px: any of: \.css$
