Repository MarximusMaximus/batteries-forking-included: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, pylint, pyright, rst, check-dash-syntax, force-JsonSlurperClassic, css-forbid-px

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: flake8
  language: python
  pass_filenames: false
  require_serial: true
  args: []
  additional_dependencies: []

vulture:
  name: vulture
  language: python
  entry: vulture
  description: Find unused Python code.
  pass_filenames: false
  require_serial: true

pylint:
  name: pylint
  entry: pylint --verbose
  language: python
  require_serial: true
  args: []
  additional_dependencies: []

pyright:
  name: pyright
  entry: pyright
  language: node
  pass_filenames: false

rst:
  name: rst
  entry: rst-lint
  language: python
  args:
  - --encoding=utf-8
  additional_dependencies:
  - pygments
  - restructuredtext_lint

check-dash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash --posix -n

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

css-forbid-px:
  name: In CSS files, use rem or % over px
  language: pygrep
  entry: px

parallelize tests via pytest-xdist
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

curl outputs progress to stderr, redirect stderr to stdout so it is not treated as an error
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  src/batteries_forking_included/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

fixing test_PytestShellTestHarness__run__assert and test_PytestShellTestHarness__run__success when run in CI
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

don't do CI tempdir paths for test_teetty_G subprocesses
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
Due: flake8, vulture, pylint, pyright

fix for test_teetty_G local running (don't raise if CI env var doesn't exist when removing)
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
Due: flake8, vulture, pylint, pyright

some debug output to try to see what's going on with test_PytestShellTestHarness__run__shell_assert_fail
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

adding some more debug output for test_PytestShellTestHarness__run__shell_assert_fail in CI
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

even more debug output for Test_PytestShellTestHarness__run__test_PytestShellTestHarness__run__shell_assert
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

yet more debug output for Test_PytestShellTestHarness__run__test_PytestShellTestHarness__run__shell_assert
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

yet even more debug output for Test_PytestShellTestHarness__run__test_PytestShellTestHarness__run__shell_assert
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

+1 more debug output for Test_PytestShellTestHarness__run__test_PytestShellTestHarness__run__shell_assert
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

trying different way of doing the asserts
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
Due: check-dash-syntax

debug output for test_get_ansi_code_cursor_down
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
Due: flake8, vulture, pylint, pyright

all the debug output
  tests/PytestShellTestHarness.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
Due: flake8, vulture, pylint, pyright

append PID to the log dir when in CI to handle parallel testing
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

fix calling tox -e lint args in CI
  .github/workflows/ci.yml
Due: none

Lots of useful output from PytestShellTestHarness.run when a test fails
  tests/PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

remove no longer needed prints from test_PytestShellTestHarness__run__shell_assert_fail
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

much nicer assert keyword for PytestShellTestHarness shell scripts
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
  tests/src/batteries_forking_included/activate_sh/test_shell.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_return_code_is_.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.sh
  tests/src/batteries_forking_included/bfi_update_sh/test_shell.sh
  tests/src/batteries_forking_included/bootstrap_sh/test_shell.sh
  tests/src/batteries_forking_included/post_bootstrap_sh/test_shell.sh
  tests/src/batteries_forking_included/run_sh/test_shell.sh
Due: check-dash-syntax

add WSL_DISTRO_NAME as possible condition for PLATFORM_IS_WSL
  .vscode/settings.json
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

add is_actually_windows_fs to PytestShellTestHarness
  .vscode/settings.json
  tests/PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

use is_actually_windows_fs in bfi_base's test_invoke to change expect return code
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

add debug output for override-python-version in CI
  .github/workflows/ci.yml
Due: none

fix for overriding python version in conda-environment.yml in CI
  .github/workflows/ci.yml
Due: none

swap return code order for bfi_base:test_invoke for windows/not-windows
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

invert logic for is_actually_windows_fs when reading mounts directly
  tests/PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

add command aliases to make file
  Makefile
Due: none

fix noqa: missing space
  tests/PytestShellTestHarness.py
Due: flake8, vulture, pylint, pyright

add red highlights for noqa: missing space
  .vscode/settings.json
Due: none

attempt to make mypy stop complaining about pyparsing's jinja2 import
  pyproject.toml
Due: none

correct the stderr checking for bfi_base::test_invoke on windows
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

correct a no branch to a no cover
  src/batteries_forking_included/__main__.py
Due: flake8, vulture, pylint, pyright

Updates to README.md to at least bring it inline with current state of repo.
  README.md
Due: none

adjust pytest-subprocess position in dependencies
  pyproject.toml
Due: none

Update poetry.lock file
  poetry.lock
Due: none

Add unit tests for PytestShellTestHarness::isActuallyWindowsFileSystem (renamed from is_actually_windows_fs)
  tests/PytestShellTestHarness.py
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
Due: flake8, vulture, pylint, pyright

Check that fifo file count is same after TeeTTY_G (i.e. that we create and delete properly)
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
Due: flake8, vulture, pylint, pyright

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  rst: any of: ^.*\.rst$
  check-dash-syntax: any of: ^.*\.sh$
  force-JsonSlurperClassic: any of: \.groovy$
  css-forbid-px: any of: \.css$
