Repository MarximusMaximus/batteries-forking-included: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, pylint, pyright, rst, check-dash-syntax, force-JsonSlurperClassic, css-forbid-px

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: flake8
  language: python
  pass_filenames: false
  require_serial: true
  args: []
  additional_dependencies: []

vulture:
  name: vulture
  language: python
  entry: vulture
  description: Find unused Python code.
  pass_filenames: false
  require_serial: true

pylint:
  name: pylint
  entry: pylint --verbose
  language: python
  require_serial: true
  args: []
  additional_dependencies: []

pyright:
  name: pyright
  entry: pyright
  language: node
  pass_filenames: false

rst:
  name: rst
  entry: rst-lint
  language: python
  args:
  - --encoding=utf-8
  additional_dependencies:
  - pygments
  - restructuredtext_lint

check-dash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash --posix -n

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

css-forbid-px:
  name: In CSS files, use rem or % over px
  language: pygrep
  entry: px

fix pytest section in tox.ini to actually work
  tox.ini
Due: none

add missing shebang to tests/__init__.py
  tests/__init__.py
Due: flake8, vulture, pylint, pyright

normalize pytest settings between pyproject.toml and tox.ini (where appropriate)
  pyproject.toml
  tox.ini
Due: none

remove usedevelop and use poetry to install in dev mode
  tox.ini
Due: none

wip report_* unit tests & updates necessary throughout
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
  tests/PytestShellTestHarness.py
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.sh
  tests/src/batteries_forking_included/bfi_base_sh/test_return_code_is_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
  tests/src/batteries_forking_included/bfi_update_sh/test_shell.py
  tests/src/batteries_forking_included/bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/post_bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/run_sh/test_shell.py
  tests/src/conftest.py
  tests/src/helper_functions.py
Due: flake8, vulture, pylint, pyright, check-dash-syntax

more info from shell-test.sh
  shell-test-module.sh
  shell-test-toplevel.sh
Due: check-dash-syntax

And comments for run.sh
  run.sh
Due: check-dash-syntax

clean more thing from make clean, add make clean-tox and make sterile
  Makefile
Due: none

add more coverage and unit test report files to .gitignore
  .gitignore
Due: none

add more rules to ignore for flake8
  .flake8
Due: none

no longer using black, but still need to ignore rule, so update comment for flake8 config
  .flake8
Due: none

add config for lcov output
  .coveragerc
  .github/workflows/ci.yml
  tox.ini
Due: none

add config to output junit.xml
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: none

extract PytestShellScriptTestHarness
  poetry.lock
  pyproject.toml
  tests/PytestShellTestHarness.py
  tests/PytestShellTestHarnessFixture.py
  tests/_PytestShellTestHarness/__init__.py
  tests/_PytestShellTestHarness/example_shell_script.sh
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.py
  tests/_PytestShellTestHarness/test_PytestShellTestHarness.sh
  tests/conftest.py
  tests/src/batteries_forking_included/activate_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_return_code_is_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
  tests/src/batteries_forking_included/bfi_update_sh/test_shell.py
  tests/src/batteries_forking_included/bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/post_bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/run_sh/test_shell.py
Due: flake8, vulture, pylint, pyright, check-dash-syntax

re-enable doctests
  pyproject.toml
  tox.ini
Due: none

set Koverage & coverage-gutters to use only lcov.info
  .vscode/settings.json
Due: none

make "pylint: disable=all" highlight red
  .vscode/settings.json
Due: none

tweaking shell testing scripts
  shell-test-module.sh
  shell-test-toplevel.sh
Due: check-dash-syntax

update comment in activate.sh
  activate.sh
  examples/conda-and-pip/activate.sh
  examples/conda-and-poetry/activate.sh
  examples/conda-only-no-py/activate.sh
  examples/conda-only/activate.sh
  src/batteries_forking_included/template/activate.sh
Due: check-dash-syntax

remove copy of template in src/bfi
  src/batteries_forking_included/activate.sh
  src/batteries_forking_included/batteries-forking-included.sh
  src/batteries_forking_included/bfi-base.sh
  src/batteries_forking_included/bfi-update.sh
  src/batteries_forking_included/bootstrap.sh
  src/batteries_forking_included/post-bootstrap.sh
  src/batteries_forking_included/run.sh
  tests/src/batteries_forking_included/test_project_matches_template.py
Due: flake8, vulture, pylint, pyright, check-dash-syntax

add make to env
  conda-environment.yml
Due: none

rename some import sections
  src/batteries_forking_included/__main__.py
  src/batteries_forking_included/bin/batteries-forking-included.py
  tests/conftest.py
  tests/examples/conda_and_pip/test_project_matches_template.py
  tests/examples/conda_and_poetry/test_project_matches_template.py
  tests/examples/conda_only/test_project_matches_template.py
  tests/examples/conda_only_no_py/test_project_matches_template.py
  tests/src/batteries_forking_included/activate_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_format_log_message.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code.py
  tests/src/batteries_forking_included/bfi_base_sh/test_get_ansi_code_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_log_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_return_code_is_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_shell.py
  tests/src/batteries_forking_included/bfi_base_sh/test_teetty_G.py
  tests/src/batteries_forking_included/bfi_update_sh/test_shell.py
  tests/src/batteries_forking_included/bin/test_bin.py
  tests/src/batteries_forking_included/bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/post_bootstrap_sh/test_shell.py
  tests/src/batteries_forking_included/run_sh/test_shell.py
  tests/src/batteries_forking_included/test___impl.py
  tests/src/batteries_forking_included/test___main__.py
  tests/src/conftest.py
  tests/src/helper_functions.py
  tests/test_project_matches_template.py
Due: flake8, vulture, pylint, pyright

fixes for linter errors on redefining open builtin
  tests/src/batteries_forking_included/test___impl.py
Due: flake8, vulture, pylint, pyright

more update _array_unescape comment
  examples/conda-only/bfi-base.sh
Due: check-dash-syntax

more update import section names
  examples/conda-and-pip/pip-requirements-base.txt
  examples/conda-and-pip/pip-requirements-dev.txt
  examples/conda-and-pip/pip-requirements.txt
Due: none

don't create/update src/bfi shell files
  update-all.sh
Due: check-dash-syntax

another _array_unescape comment update (missed file)
  examples/conda-only/bfi-update.sh
Due: check-dash-syntax

remove erroneous comment about return code 254
  bfi-base.sh
  examples/conda-and-pip/bfi-base.sh
  examples/conda-and-poetry/bfi-base.sh
  examples/conda-only-no-py/bfi-base.sh
  examples/conda-only/bfi-base.sh
  src/batteries_forking_included/template/bfi-base.sh
Due: check-dash-syntax

more extract PytestShellScriptTestHarness (missed file)
  examples/conda-and-poetry/bfi-base.sh
Due: check-dash-syntax

fix processing --project_dir arg
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

add comment explaining is_dirty check for curl/wget
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

expand bfi local changes warning to note that it did not update from upstream
  batteries-forking-included.sh
  examples/conda-and-pip/batteries-forking-included.sh
  examples/conda-and-poetry/batteries-forking-included.sh
  examples/conda-only-no-py/batteries-forking-included.sh
  examples/conda-only/batteries-forking-included.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
Due: check-dash-syntax

search upwards for conda-environment.yml instead of run.sh, to ensure we find our top folder
  src/batteries_forking_included/bin/batteries-forking-included.py
Due: flake8, vulture, pylint, pyright

add tests for report_all
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.py
  tests/src/batteries_forking_included/bfi_base_sh/test_report_.sh
Due: flake8, vulture, pylint, pyright, check-dash-syntax

WIP
  activate.sh
  batteries-forking-included.sh
  bfi-base.sh
  bfi-update.sh
  bootstrap.sh
  post-bootstrap.sh
  run.sh
  src/batteries_forking_included/template/activate.sh
  src/batteries_forking_included/template/batteries-forking-included.sh
  src/batteries_forking_included/template/bfi-base.sh
  src/batteries_forking_included/template/bfi-update.sh
  src/batteries_forking_included/template/bootstrap.sh
  src/batteries_forking_included/template/post-bootstrap.sh
  src/batteries_forking_included/template/run.sh
Due: check-dash-syntax

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  rst: any of: ^.*\.rst$
  check-dash-syntax: any of: ^.*\.sh$
  force-JsonSlurperClassic: any of: \.groovy$
  css-forbid-px: any of: \.css$
